<div class="card-body">
  <div class="row">
    <div class="col-3">
      <div id="real-estate-list">
        <h6 class="footer-header">REAL ESTATE</h6>
        <div class="sub-header">
          <ul class="footer-contents">
            <div class="defaut-showing">
              <li class="area-list">Browse all homes</li>
              <li class="area-list">Albuquerque real estate</li>
              <li class="area-list">Atlanta real estate</li>
              <li class="area-list">Austin real estate</li>
              <li class="area-list">Baltimore real estate</li>
            </div>
            <div *ngif= "" class="hidden-real-estate">
              <li class="hide">Boston real estate</li>
              <li class="hide">Charlotte real estate</li>
              <li class="hide">Chicago real estate</li>
              <li class="hide">Cleveland real estate</li>
              <li class="hide">Colorado Springs real estate</li>
              <li class="hide">Columbus real estate</li>
              <li class="hide">Dallas real estate</li>
              <li class="hide">Denver real estate</li>
              <li class="hide">Detroit real estate</li>
              <li class="hide">El Paso real estate</li>
              <li class="hide">Fort Worth real estate</li>
              <li class="hide">Fresno real estate</li>
              <li class="hide">Houston real estate</li>
              <li class="hide">Indianapolis real estate</li>
              <li class="hide">Jacksonville real estate</li>
              <li class="hide">Kansas City real estate</li>
              <li class="hide">Las Vegas real estate</li>
              <li class="hide">Long Beach real estate</li>
              <li class="hide">Los Angeles real estate</li>
              <li class="hide">Louisville real estate</li>
              <li class="hide">Memphis real estate</li>
              <li class="hide">Mesa real estate</li>
              <li class="hide">Miami real estate</li>
              <li class="hide">Milwaukee real estate</li>
              <li class="hide">Minneapolis real estate</li>
              <li class="hide">Nashville real estate</li>
              <li class="hide">New Orleans real estate</li>
              <li class="hide">New York real estate</li>
              <li class="hide">Oakland real estate</li>
              <li class="hide">Oklahoma real estate</li>
              <li class="hide">Omaha real estate</li>
              <li class="hide">Philadelphia real estate</li>
              <li class="hide">Phoenix real estate</li>
              <li class="hide">Portland real estate</li>
              <li class="hide">Raleigh real estate</li>
              <li class="hide">Sacramento real estate</li>
              <li class="hide">San Antonio real estate</li>
              <li class="hide">San Diego real estate</li>
              <li class="hide">San Francisco real estate</li>
              <li class="hide">San Jose real estate</li>
              <li class="hide">Seattle real estate</li>
              <li class="hide">Tucson real estate</li>
              <li class="hide">Tulsa real estate</li>
              <li class="hide">Virginia Beach real estate</li>
              <li class="hide">Washington DC real estate</li>
              <li class="hide">Wichita real estate</li>
              <li class="hide">Zillow Advice</li>
              <li class="hide">
                <a href="#" class="show-hide-link" id="real-estate-less">less</a>
              </li>
            </div>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="real-estate-more">More</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div id="rentals-list">
        <h6 class="footer-header">RENTALS</h6>
        <div class="sub-header">
          <ul class="footer-contents">
            <div class="defaut-showing">
              <li class="area-list">Rental Buildings</li>
              <li class="area-list">Albuquerque apartments for rent</li>
              <li class="area-list">Atlanta apartments for rent</li>
              <li class="area-list">Austin apartments for rent</li>
              <li class="area-list">Baltimore apartments for rent</li>
            </div>
            <div class="hidden-rentals">
              <li class="hide">Rental Buildings</li>
              <li class="hide">Atlanta apartments for rent</li>
              <li class="hide">Austin apartments for rent</li>
              <li class="hide">Baltimore apartments for rent</li>
              <li class="hide">Boston apartments for rent</li>
              <li class="hide">Charlotte apartments for rent</li>
              <li class="hide">Chicago apartments for rent</li>
              <li class="hide">Dallas apartments for rent</li>
              <li class="hide">Denver apartments for rent</li>
              <li class="hide">Houston apartments for rent</li>
              <li class="hide">Jersey City apartments for rent</li>
              <li class="hide">Long Beach apartments for rent</li>
              <li class="hide">Miami apartments for rent</li>
              <li class="hide">Minneapolis apartments for rent</li>
              <li class="hide">New York City apartments for rent</li>
              <li class="hide">Bronx NYC apartments for rent</li>
              <li class="hide">Brooklyn NYC apartments for rent</li>
              <li class="hide">Manhattan NYC apartments for rent</li>
              <li class="hide">Queens NYC apartments for rent</li>
              <li class="hide">Oakland apartments for rent</li>
              <li class="hide">Oklahoma City apartments for rent</li>
              <li class="hide">Philadelphia apartments for rent</li>
              <li class="hide">Sacramento apartments for rent</li>
              <li class="hide">San Francisco apartments for rent</li>
              <li class="hide">Seattle apartments for rent</li>
              <li class="hide">Washington DC apartments for rent</li>
              <li class="hide">Atlanta houses for rent</li>
              <li class="hide">Austin houses for rent</li>
              <li class="hide">Boston houses for rent</li>
              <li class="hide">Charlotte houses for rent</li>
              <li class="hide">Columbus houses for rent</li>
              <li class="hide">Fort Worth houses for rent</li>
              <li class="hide">Fresno houses for rent</li>
              <li class="hide">Indianapolis houses for rent</li>
              <li class="hide">Jacksonville houses for rent</li>
              <li class="hide">Las Vegas houses for rent</li>
              <li class="hide">Houston houses for rent</li>
              <li class="hide">Memphis houses for rent</li>
              <li class="hide">Milwaukee houses for rent</li>
              <li class="hide">Nashville houses for rent</li>
              <li class="hide">Oakland houses for rent</li>
              <li class="hide">Oklahoma City houses for rent</li>
              <li class="hide">Philadelphia houses for rent</li>
              <li class="hide">Phoenix houses for rent</li>
              <li class="hide">Portland houses for rent</li>
              <li class="hide">San Antonio houses for rent</li>
              <li class="hide">San Francisco houses for rent</li>
              <li class="hide">San Jose houses for rent</li>
              <li class="hide">Tampa houses for rent</li>
              <li class="hide">Tuscon houses for rent</li>
              <li class="hide">Washington DC houses for rent</li>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="rentals-less">Less</a>
              </li>
            </div>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="rentals-more">More</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div id="mortgage-list">
        <h6 class="footer-header">MORTGAGE RATES</h6>
        <div class="sub-header">
          <ul class="footer-contents">
            <div class="defaut-showing">
              <li class="area-list">Current Mortgage Rates</li>
              <li class="area-list">Alaska Mortgage Rates</li>
              <li class="area-list">Alabama Mortgage Rates</li>
              <li class="area-list">Arkansas Mortgage Rates</li>
              <li class="area-list">Arisona Mortgage Rates</li>
            </div>
            <div class="hidden-mortgage">
              <li class="hide">Boston Mortgage Rates</li>
              <li class="hide">Charlotte Mortgage Rates</li>
              <li class="hide">Chicago Mortgage Rates</li>
              <li class="hide">Cleveland Mortgage Rates</li>
              <li class="hide">Colorado Springs Mortgage Rates</li>
              <li class="hide">Columbus Mortgage Rates</li>
              <li class="hide">Dallas Mortgage Rates</li>
              <li class="hide">Denver Mortgage Rates</li>
              <li class="hide">Detroit Mortgage Rates</li>
              <li class="hide">El Paso Mortgage Rates</li>
              <li class="hide">Fort Worth Mortgage Rates</li>
              <li class="hide">Fresno Mortgage Rates</li>
              <li class="hide">Houston Mortgage Rates</li>
              <li class="hide">Indianapolis Mortgage Rates</li>
              <li class="hide">Jacksonville Mortgage Rates</li>
              <li class="hide">Kansas City Mortgage Rates</li>
              <li class="hide">Las Vegas Mortgage Rates</li>
              <li class="hide">Long Beach Mortgage Rates</li>
              <li class="hide">Los Angeles Mortgage Rates</li>
              <li class="hide">Louisville Mortgage Rates</li>
              <li class="hide">Memphis Mortgage Rates</li>
              <li class="hide">Mesa Mortgage Rates</li>
              <li class="hide">Miami Mortgage Rates</li>
              <li class="hide">Milwaukee Mortgage Rates</li>
              <li class="hide">Minneapolis Mortgage Rates</li>
              <li class="hide">Nashville Mortgage Rates</li>
              <li class="hide">New Orleans Mortgage Rates</li>
              <li class="hide">New York Mortgage Rates</li>
              <li class="hide">Oakland Mortgage Rates</li>
              <li class="hide">Oklahoma Mortgage Rates</li>
              <li class="hide">Omaha Mortgage Rates</li>
              <li class="hide">Philadelphia Mortgage Rates</li>
              <li class="hide">Phoenix Mortgage Rates</li>
              <li class="hide">Portland Mortgage Rates</li>
              <li class="hide">Raleigh Mortgage Rates</li>
              <li class="hide">Sacramento Mortgage Rates</li>
              <li class="hide">San Antonio Mortgage Rates</li>
              <li class="hide">San Diego Mortgage Rates</li>
              <li class="hide">San Francisco Mortgage Rates</li>
              <li class="hide">San Jose Mortgage Rates</li>
              <li class="hide">Seattle Mortgage Rates</li>
              <li class="hide">Tucson Mortgage Rates</li>
              <li class="hide">Tulsa Mortgage Rates</li>
              <li class="hide">Virginia Beach Mortgage Rates</li>
              <li class="hide">Washington DC Mortgage Rates</li>
              <li class="hide">Wichita Mortgage Rates</li>
              <li class="hide">
                <a href="#" class="show-hide-link" id="mortgage-less">More</a>
              </li>
            </div>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="mortgage-more">More</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div id="browse-list">
        <h6 class="footer-header">BROWSE HOMES</h6>
        <div class="sub-header">
          <ul class="footer-contents">
            <div class="defaut-showing">
              <li class="area-list">California</li>
              <li class="area-list">Texas</li>
              <li class="area-list">New York</li>
              <li class="area-list">Florida</li>
              <li class="area-list">Illiniois</li>
            </div>
            <div class="hidden-browse">
              <li class="hide">Pennsylvania</li>
              <li class="hide">Ohio</li>
              <li class="hide">Michigan</li>
              <li class="hide">Georgia</li>
              <li class="hide">North Carolina</li>
              <li class="hide">New Jersey</li>
              <li class="hide">Virginia</li>
              <li class="hide">Washington</li>
              <li class="hide">Massachusetts</li>
              <li class="hide">Indiana</li>
              <li class="hide">Arizona</li>
              <li class="hide">Tennessee</li>
              <li class="hide">Missouri</li>
              <li class="hide">Maryland</li>
              <li class="hide">Wisconsin</li>
              <li class="hide">Minnesota</li>
              <li class="hide">Colorado</li>
              <li class="hide">Alabama</li>
              <li class="hide">South Carolina</li>
              <li class="hide">Louisiana</li>
              <li class="hide">Kentucky</li>
              <li class="hide">Oregon</li>
              <li class="hide">Oklahoma</li>
              <li class="hide">Connecticut</li>
              <li class="hide">Iowa</li>
              <li class="hide">Mississippi</li>
              <li class="hide">Arkansas</li>
              <li class="hide">Kansas</li>
              <li class="hide">Utah</li>
              <li class="hide">Nevada</li>
              <li class="hide">New Mexico</li>
              <li class="hide">West Virginia</li>
              <li class="hide">Nebraska</li>
              <li class="hide">Idaho</li>
              <li class="hide">Hawaii</li>
              <li class="hide">Maine</li>
              <li class="hide">New Hampshire</li>
              <li class="hide">Rhode Island</li>
              <li class="hide">Montana</li>
              <li class="hide">Delaware</li>
              <li class="hide">South Dakota</li>
              <li class="hide">Alaska</li>
              <li class="hide">North Dakota</li>
              <li class="hide">Vermont</li>
              <li class="hide">Washington, DC</li>
              <li class="hide">Wyoming</li>
              <li class="hide">Puerto Rico</li>
              <li class="hide">Northern Mariana Islands</li>
              <li class="hide">American Samoa</li>
              <li class="hide">Guam</li>
              <li class="hide">Virgin Islands</li>
              <li class="hide">
                <a href="#" class="show-hide-link" id="browse-less">More</a>
              </li>
            </div>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="browse-more">More</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <nav class="brand-links-footer"><h2><a class="brand-links-footer-link" target="_blank" href="http://www.zillowgroup.com">Zillow Group®</a>Brands:</h2>
  <ul class="zsg-footer-linklist zsg-list_inline">
    <li><a class="brand-links-footer-link" target="_blank" href="https://www.trulia.com">Trulia</a></li>
    <li><a class="brand-links-footer-link" target="_blank" href="http://streeteasy.com">StreetEasy</a></li>
    <li><a class="brand-links-footer-link" target="_blank" href="https://hotpads.com">HotPads</a></li>
    <li><a class="brand-links-footer-link" target="_blank" href="https://www.nakedapartments.com/">Naked Apartments</a></li>
    <li><a class="brand-links-footer-link" target="_blank" href="https://www.realestate.com">RealEstate.com</a></li>
    <li><a class="brand-links-footer-link" target="_blank" href="https://outeast.com">Out East</a></li>
  </ul>
</nav> -->
<nav class="navbar navbar-expand-lg" id="nav-bar-brands">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-center">
      <li class="nav-item active" id="footer-nav">
        Zillow Group®
      </li>
      <li class="break">|</li>
      <li class="nav-item active" id="footer-nav">
        Brands:
      </li>
      <li class="break">|</li>
      <li class="nav-item active" id="footer-nav">
        Trulia
      </li>
      <li class="break">|</li>
      <li class="nav-item active" id="footer-nav">
        StreetEasy
      </li>
      <li class="break">|</li>
      <li class="nav-item active" id="footer-nav">
        HotPads
      </li>
      <li class="break">|</li>
      <li class="nav-item active" id="footer-nav">
        Naked Apartments
      </li>
      <li class="break">|</li>
      <li class="nav-item active" id="footer-nav">
        RealEstate.com
      </li>
      <li class="break">|</li>
      <li class="nav-item active" id="footer-nav">
        Out East
      </li>
      </ul>
  </div>
</nav>  


<nav class="navbar navbar-expand-lg" id="nav-bar-brands1">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-center">
        <li class="nav-item active" id="footer-nav">
            ABOUT
        </li>
        <li class="nav-item active" id="footer-nav">
            ZESTIMATESRES
        </li>
        <li class="nav-item active" id="footer-nav">
            EARCH
        </li>
        <li class="nav-item active" id="footer-nav">
            CAREERS
        </li>
        <li class="nav-item active" id="footer-nav">
            HELP
        </li>
        <li class="nav-item active" id="footer-nav">
            ADVERTISE
        </li>
        <li class="nav-item active" id="footer-nav">
            TERMS OF USE & PRIVACY
        </li>
        <li class="nav-item active" id="footer-nav">
            AD CHOICE
        </li>
        <li class="nav-item active" id="footer-nav">
            COOKIE PREFERENCES
        </li>
        <li class="nav-item active" id="footer-nav">
          DATA SCIENCE
        </li>
        <li class="nav-item active" id="footer-nav">
            MOBILE APPS
        </li>
        </ul>
       
    </div>
  </nav>  


  <!-- <div class="zsg-footer-copyright zsg-footer-row">
      <ul class="zsg-list_inline"><li><span class="zsg-icon-eho"></span></li>
        <li>© 2006- 2018 Zillow</li>
        <li><div class="zsg-footer-follow" data-za-category="Homepage" data-za-action="Social Icon"><span>Follow us</span><a href="http://www.facebook.com/Zillow" rel="nofollow" target="_blank" class="za-track-event" data-za-category="!inherit" data-za-action="!inherit" data-za-label="Facebook">
          <span class="zsg-icon-facebook"></span></a>
          <a href="http://twitter.com/zillow" rel="nofollow" target="_blank" class="za-track-event" data-za-category="!inherit" data-za-action="!inherit" data-za-label="Twitter">
            <span class="zsg-icon-twitter"></span></a><a href="http://plus.google.com/+Zillow" rel="nofollow" target="_blank" class="za-track-event" data-za-category="!inherit" data-za-action="!inherit" data-za-label="Google+"><span class="zsg-icon-google-plus"></span></a>
          </div>
        </li>
      </ul>
    </div> -->