<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" id="main-image">
<div class="carousel-inner">
  <div [ngSwitch]="link">
    <img *ngSwitchDefault class="d-block w-100" src="assets/buy-home.jpg" alt="First slide" id="color-layer">
    <img  *ngSwitchCase="2" class="d-block w-100" src="assets/woman-couch.jpeg" alt="First slide" id="color-layer">
    <img  *ngSwitchCase="3" class="d-block w-100" src="assets/hearth.jpeg" alt="First slide" id="color-layer">
    <img *ngSwitchCase="1" class="d-block w-100" src="assets/rent-img.jpeg" alt="First slide" id="color-layer">
  </div>
    <div class="carousel-caption d-none d-md-block d-inline" id="main-tab-box">
        <div [ngSwitch]="link">
      <h2 id="tab-header"*ngSwitchDefault>Find your way home®</h2>
      <h2 id="tab-header" *ngSwitchCase="1">Find your next rental</h2>
      <h2 id="tab-header" *ngSwitchCase="2">Sell your home</h2>
      <h2 id="tab-header" *ngSwitchCase="3">Your Home on Zillow®</h2>
     
          </div>
  
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="buy" id="zillow-link" 
          (click)="buyLink()">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="rent" id="zillow-link"
          (click)="rentLink()">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="Sell" id="zillow-link" 
          (click)="sellLink()">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="zestimate" id="zillow-link" (click)="zestimateLink()">Zestimate</a>
        </li>
        <div class="input-group" id="search-box">
          <input type="text" class="form-control" id="interior-search-box" placeholder="Enter an address, neighborhood, city, or ZIP code">
          <div id="search-button">
              <a routerLink="result"><button class="btn btn-default;" type="button" id="button-background"(click)="SearchZillow()" >Search</button></a>
              <a routerLink="result">About</a>
          </div>
        </div>
      
      </ul>
  
    </div>
  </div>



<br>
<div>
  <h2 id="selling-home-tagline">
    <div id="selling-home-tagline-align">
      <img id="mobile-icon" src="https://s.zillowstatic.com/homepage/static/upsell_agent_icon.svg"> <span id=selling-home-tagline1>Be
        ready to buy</span> <span id=selling-home-tagline2> Get pre-qualified by a local lender on Zillow..</span>
      <button class="btn btn-default" type="button" id="selling-home-button">Get started</button>
    </div>
  </h2>
</div>
</div>


