<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>



 
<h1>
Welcome to 
</h1>
<img width="300" alt="zillow Logo" src="https://www.zillowstatic.com/static/images/m/apple-touch-icon.png">
 

 

<body>

    <div class="search-bar">
        <header class="home-page-header">
            <h1 class="heading">
                <span>Find your way home<sup>®</sup></span>
            </h1>
        </header>
            <div class="home-page-tabs">
                <ul>
                  <li class="active"><a href="#">Buy</a></li>
                  <li class=""> <a href="#">Rent</a></li>
                  <li class=""><a href="#">Sell</a></li>
                  <li class=""> <a href="#">Zestimate</a></li>
                </ul>
              </div>
                    <form class="input">
                        
                            <div>
                          <input type="text"/>
                          </div>
                          <div class="searchBtnContaine">
                               
                            <button class="searchBtn">
                              <span class="searchBtnText">Search</span>
                               </button>
                            </div>
                        </form>
                    </div>
 

</body>
<footer class="subfooter-content">
  <div class="foot-info-tittle">
  <h6 class="subfooter-header">Real Estate</h6>
        <div>
          <ul class="footer-info-city-list">
                <li class="footer-info"><a href="/browse/homes/">Browse all homes</a></li>
                <li class="footer-info"><a href="/albuquerque-nm/">Albuquerque real estate</a></li>
                <li class="footer-info"><a href="/atlanta-ga/">Atlanta real estate</a></li>
                <li class="footer-info"><a href="/austin-tx/">Austin real estate</a></li>
          </ul>
        <button class="show-hide-link">More</button>
      </div>
</div>
  <div class="foot-info-tittle">
    <h6 class="subfooter-header">Rentals</h6>
        <div>
            <ul class="link-list">
              <li class="footer-info"><a href="/browse/b/">Rental Buildings</a></li>
          </ul>
           <button class="show-hide-link">More</button>
        </div>
  </div>
    <div class="foot-info-tittle">
      <h6 class="subfooter-header">Mortgage Rates</h6>
      <div>
        <ul class="link-list">
        <li class="footer-info"><a href="/mortgage-rates/">Current mortgage rates</a></li>
      </ul>
      <button class="show-hide-link">More</button>
    </div>
    </div>
    <div class="foot-info-tittle">
      <h6 class="subfooter-header">Browse Homes</h6>
      <div>
        <ul class="link-list">
     <button class="show-hide-link">More</button></div>
    </div>
</footer>
</html>