<img alt="zillow Logo" src="https://www.zillowstatic.com/static/images/m/apple-touch-icon.png">

<div class="nav-container">
   
  <nav class="home-page-tabs">
    <div class="page-tabs-mask"></div>
    <div class="nav-top-bar">
      <div class="top-block"></div>
    <ul id="nav-links">
      <li class="active"><a href="#">Buy</a></li>
      <li id="block-nav"> <a href="#">Rent</a></li>
      <li class=""><a href="#">Sell</a></li>
      <li class=""> <a href="#">Mortgages</a></li>
      <li class=""> <a href="#">Agent finder</a></li>
      <li class=""> <a href="#">More</a></li>
     
    </ul>
  
  
  
    <ul class="listing-options" id="nav-links">
        <li><a href="#">List Your Rental</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Join</a></li>
        <li><a href="#">Help</a></li>
    </ul>
  </div>
  </nav>
</div>