<div class="nav-container">
    <img alt="zillow Logo" src="https://www.zillowstatic.com/static/images/m/apple-touch-icon.png">
  <div class="home-page-tabs">

    <ul id="buy-rent-links">
      <li class="active"><a href="#">Buy</a></li>
      <li class=""> <a href="#">Rent</a></li>
      <li class=""><a href="#">Sell</a></li>
      <li class=""> <a href="#">Zestimate</a></li>
    </ul>
  </div>
  <div class="listing-options">
    <ul>
      <li>List Your Rental</li>
      <li>Advertise</li>
      <li>Sign In</li>
      <li>Join</li>
      <li>Help</li>
    </ul>

  </div>
</div>