<div class="nav-container">

  <header class="znav">
    <div class="znav-content">
      <nav class="znav-nav zsg-layout-width" role="navigation" data-za-category="TopNav">
        <div class="znav-logo" left=1130px;>
          <img alt="zillow Logo"  width="120"  src="assets/Zillow-Nav-logo.png" >
          <a href=" " class="zillow-logo" title="Zillow Real Estate"></a>
        </div>
        <div class="znav-links ">

          <ul class="znav-links-main">
            <li class="">
              <!-- home-->
              <a href="/homes/" class=" znav-section-title za-track-event" data-za-action="Buy" data-za-category="!inherit"
                title="Buy"><span>Buy</span></a>
              <span class="zsg-icon-expando-down"></span>
              <div data-za-label="Buy">
                <div class="znav-dropdown">
                  <div class="znav-dropdown-content zsg-layout-width">
                    <ul class="znav-dropdown-sections">
                      <li>
                        <h6 class="znav-dropdown-header">Homes For Sale</h6>
                        <ul class="dropdown-columns">
                          <li>
                            <ul class="znav-dropdown-links">
                              <li><a href="/homes/#/" title="Homes for Sale" rel="" class="znav-link-text za-track-event"
                                  data-za-action="Homes for Sale" data-za-label="!inherit" data-za-category="!inherit"><span>Homes
                                    for Sale</span></a></li>
                              <li><a href="/homes/#" title="Foreclosures" rel="" class="znav-link-text za-track-event"
                                  data-za-action="Foreclosures" data-za-label="!inherit" data-za-category="!inherit"><span>Foreclosures</span></a></li>
                              <li><a href="/homes/fsbo/" title="For Sale By Owner" rel="" class="znav-link-text za-track-event"
                                  data-za-action="For Sale By Owner" data-za-label="!inherit" data-za-category="!inherit"><span>For
                                    Sale By Owner</span></a>
                              </li>
                              <li><a href="/homes/for_sale/1_open/" title="Open Houses" rel="" class="znav-link-text za-track-event"
                                  data-za-action="Open Houses" data-za-label="!inherit" data-za-category="!inherit"><span>Open
                                    Houses</span></a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              Rent
            </li>
            <li>
              Sell
            </li>
            <li>
              Mortgages
            </li>
            <li>
              Agent Finder
            </li>
            <li>
              More
            </li>
          </ul>

          <ul class="znav-links-marketing">
              <li class=""><a href="/advertise/?itc=paw_z_sitewide-null_nav-advertising_pa-ads_a_null"
                      class=" znav-section-title za-track-event" data-za-action="Advertise"
                      data-za-category="!inherit" title="Advertise"><span>Advertise</span></a></li>
              <li class=""><a href="/rental-manager/?source=topnav&amp;itc=postbutton_sitenav"
                      class=" znav-section-title za-track-event" data-za-action="List your rental"
                      data-za-category="!inherit" title="List your rental"><span>List your rental</span></a></li>
          </ul>
          <ul class="znav-links-anonymous">
              <li class=""><a href="/user/acct/login/" class=" znav-section-title za-track-event"
                      data-za-action="Sign in" data-za-category="!inherit" title="Sign in"><span>Sign
                          in</span></a></li>
              <li class=""><a href="/user/acct/register/" class=" znav-section-title za-track-event"
                      data-za-action="Join" data-za-category="!inherit" title="Join"><span>Join</span></a></li>
          </ul>
          <ul class="znav-links-help">
              <li class=""><a href="https://zillow.zendesk.com/hc/en-us" class=" znav-section-title za-track-event"
                      data-za-action="Help" data-za-category="!inherit" title="Help"><span>Help</span></a></li>
          </ul>
        </div>

      </nav>
    </div>
  </header>



  